{
  "passPerPreset": true,
  "presets": [
    "react-app",
    ["@babel/env", {
      "targets": {
        "browsers": [
          ">1%",
          "not ie 11"
        ]
      }
    }]
  ],
  "plugins": [
    ["relay", {
      "compat": true, 
      "schema": "data/schema.graphql"}],
    ["module-resolver", {
      "root": ["./"],
      "alias": {
        "relay-test-utils": "utils/relay-test-utils",
        "mutations": "./src/js/mutations",
        "navigation": "./src/js/navigation",
        "general": "./src/js/components/General",
        "web-utils": "./src/js/utils/utils",
        "lib": "./lib",
        "utils": "./src/js/utils",
        "analytics": "./src/js/analytics",
        "ads": "./src/js/ads",
        "authentication": "./src/js/authentication",
        "theme": "./src/js/theme",
        "assets": "./src/js/assets"
      }
    }]
  ],
  "env": {
    "development": {
      "plugins": [
        ["react-intl", {
            "messagesDir": "./build/messages/"
          }
        ],
        [ "relay", {
            "compat": true, 
            "schema": "data/schema.graphql",
            "enforceSchema": false,
            "debug": true,
            "suppressWarnings": false
          }
        ],
        "react-hot-loader/babel"
      ]
    }
  }
}
